body{
    background-color:white;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    text-decoration: underline;
}
h1{
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}
h4{
    margin-bottom: 1em;
}
header{
    display:flex;
    justify-content: space-between;
    padding: 0 2em 0 2em;
}
#logo{
    margin-top: 1em;
}
#espaceur{
    width: 100%;
}
#mobileMenu{
    display: flex;
}
nav{
    display: flex; 
}
.navLink{
    padding: 2em 2em 2em 2em ;
    color:black;
    text-decoration: none;
    text-align: center;
    border-top: 3px solid transparent;
}
.navLink:hover{
    color:#0065FC;
    border-top:3px solid #0065FC; 
    text-decoration: none;
}
.navLink[data-active=true]{
    border-top:3px solid #0065FC; 
    color:#0065FC;
}
#signIn{
    font-weight: bold;
    padding-top: 2em;
    margin:0em 3em 0em 0rem ;
    color: #0065FC;
}
#signIn:hover{
    text-decoration: none;
}
main{
    padding:0em 2em 2em 2em;
}
#subTitle{
    margin-top: 0em;
}
#searchBar{
    margin: 2em 0 2em 0;
    display: flex;
    height: 3.5em;
}
#searchBar .searchIcon{
    display: flex;
    align-items:center ;
    border-radius: 1em 0 0 1em;
    background-color: #F2F2F2;
    padding:0em 1.5em 0em 1.5em;
}
input{
    border:0px;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 15px;
}
input:focus{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 15px;
}
#searchSubmit{
    border:0px;
    background-color:#0065FC ;
    color:white;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: large;
    padding:0 1em 0 1em;
    border-radius: 0 1em 1em 0;
}
#searchSubmit:hover{
    cursor: pointer;
}
#loupe{
    display: none;
}
#filters{
    display:flex;
    justify-content:left;
    align-items: center;
}
#filtersTitle{
    margin-right: 2em;
}
#filtersTab{
    display: flex;
}
.filter{
    margin-right: 3.5em;
    padding-right: 1.5em;
    display: flex;
    border: 3px solid #f2f2f2 ;
    border-radius: 2em;
    transition: 0.4s ease;
    cursor: pointer;
}
.filter:hover{
    transform: scale(1.15);  
}
.filterIcon{
    margin-top: 0px;
    text-align: center;
    width: 3.5em;
    height: 3.5em;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    border-radius: 2em;
    margin-right: 1.5em;
    justify-content: center;
}
.filterText{
    display: flex;
    align-items: center;
    font-weight: bold;
}
#result{
    display: flex;
    margin-top: 0.5em;
}
#result .resultIcon{
    display: flex;
    color:#0065FC;
    padding:0em 1.2em 0em 1.2em;
    align-items: center;
    border-radius: 3em;
    border: 3px solid #f2f2f2 ;
    margin-right: 1.5em;
}
#hebergements{
    display: flex;
    justify-content: space-around;
}
#classiques{
    display: block;
    background-color: #f2f2f2;
    margin-top: 2em;
    border-radius: 2em;
    margin-right: 2em;
    padding: 0 1em 0 2em;
}
#tableauClassiques{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
}
.hebergementClassique{
    background-color: white;
    border-radius: 2em;
    margin:0 2em 2em 0;
    width: 18em;
    padding: 0.5em 0.5em 0 0.5em;
    transition: 0.4s ease;
}
.hebergementClassique:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.classiqueImg{
    height: 9em; 
    width: 100%;
    object-fit:cover;
    border-radius: 1.5em 1.5em 0 0;
}
.infoHebergementClassique{
    margin:0 0 1em 0.5em;
}
#populaires{
    display: block;
    background-color: #f2f2f2;
    margin-top: 2em;
    border-radius: 2em;
    padding: 0 2em 0 2em;
}
#titrePopulaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#tableauPopulaires{
    display:flex;
    justify-content: space-around; 
    flex-flow: column;
    max-height: max-content;
}
.hebergementPopulaire{
    display: flex;
    /* height: 10em; */
    background-color: white;
    border-radius: 2em;
    margin:0 0em 2em 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    transition: 0.4s ease;
}
.hebergementPopulaire:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.populaireImg{
    height:10em;
    width:10em;
    min-width: 10em;
    object-fit:cover;
    border-radius: 1.5em 0em 0 1.5em;
}
.infoPopulaire{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 1em;
}
.nomPop{
    margin-bottom: 0px;
}
.prixPop{
    margin-top: 0.5em;
}
#afficherPlus{
    color: black;
    font-family: 'Raleway';
    font-weight: bold;
    margin-bottom: 1.5em;
}
.etoile{
    color:#0065FC 
}
.etoile[data-active=false]{
    color: #f2f2f2;
}
#activites{
    padding: 0em 0em 2em 0em;
    margin-top: 2em;
    width: 100%;
}
#titreActivites{
    margin-bottom: 5em;
    margin-left: 4em;
}
#tableauActivites{
    padding-right: 2em;
    margin-left: 2em;
    width: 100%;
    display: flex; 
    justify-content:center;
    height: 100%;
}
.columnActivite{
    display:flex ;
    height: 100%;
    width:50%;
}
.activite{
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    height: 100%;
    margin:0 2em 2em 0;
    box-shadow:0 0 20px #0000002e;
    transition: 0.4s ease;
}
.activite:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.grandeActivite{
    height: 100%;
    width:100%
}
.petiteActivite{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.grandeImgActivite{
    border-radius: 2em 2em 0 0 ;
    height: 31.8em ;
}
.moyenneImgActivite{
    border-radius: 2em 2em 0 0 ;
    height: 15em;
}
.petiteImgActivite{
    border-radius: 2em 2em 0 0 ;
    height: 11.1em;
}
.activiteImg{
    object-fit: cover;
    /* width: 20em; */
    
    width: 100%;
}
.infoActivite{
    padding-left: 1em;
}
footer{
    color: black;
    background-color: #f2f2f2;
    margin-top: 4em ;
    padding:0 20em 4em 0em;
    display: flex;
    justify-content: space-around;

}
.footerColumn{
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    width: 30%;
}
@media screen and (max-width: 1590px){
    #hebergements{
        display: flex;
        flex-flow: column-reverse;
    }
    #classiques{
        margin-right: 0%;
    }
   #populaires{
       justify-content: space-between;
    }
    #tableauPopulaires{
        display: flex;
        flex-flow: row;
    }
    .hebergementClassique{
        width: fit-content;
    }
    #titreActivites{
        margin-left: 2em;
    }
    h3{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1280px){
    #signIn{
        margin-right: 0;
    }
    main{
        padding: 0 2em 0 2em;
    }
    #filters{
        display: block;
    }
    #filtersTab{
        flex-wrap: wrap;
    }
    .filter{
        margin-bottom: 1em;
    }
    #hebergements{
        flex-direction: column-reverse;
    }
    #populaires{
        padding-right: 2em;
    }
    #titrePopulaires{
        margin-left: 1em;
    }
    #tableauPopulaires{
        flex-direction: column;
    } 
    .hebergementPopulaire:hover{
        transform: scale(1.03);
    }
    #classiques{
        justify-content: center;
        padding:0 0em 0 1.5em;
        margin-right: 0;
    } 
    #titreClassiques{
        margin-left:1.5em;
    }
    #tableauClassiques{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #afficherPlus{
        margin-left: 1em;
    }
    #titreActivites{
        margin-left: 2em;
    }
    #tableauActivites{
        flex-direction: column;
        margin-left: 0;
    }
    .columnActivite{
        justify-content: space-between;
        width: 100%;
    }
    .grandeActivite{
        width: 50%;
    }
    .petiteActivite{
        width: 50%;
    }
    .petiteActivite1{
        margin-right: 2em;
    }
    .petiteActivite2{
        margin-left: 2em;
    }
    .columnActivite1{
        flex-flow: row-reverse;
    }
    .activite{
        width: fit-content;
        margin-right:0 ;
    }
    #titreActivites{
        margin-bottom: 2em;
    }
    footer{
        margin-top: 2em;
        padding:2em 0 2em 0;
    }
    .filter:hover{
        transform: none;
    }
    .hebergementClassique:hover{
        transform: none;
    }
    .hebergementPopulaire:hover{
        transform: none;
    }
    .activite:hover{
        transform: none;
    }
}
@media screen and (max-width: 700px){
    body{
        margin: 0%;
    }
    header{
        flex-flow: wrap-reverse;
        padding: 10px 8px 10px 8px;
    }
    nav{
        width:100%
    }
    #mobileMenu{
        width: 100%;
        justify-content:space-around;
        order: 3;
    }
    .mobileCat{
        width: 100%;
        border-top: 0px;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 1em;
    }
    .mobileCat:hover{
        border-top: 0px;
    }
    .mobileCat[data-active=true]{
        border-top: 0px;
        border-bottom: 3px solid #0065FC;
    }
    main{
        padding: 0;
    }
    #logo{
        margin-left: 1em;
        order:1;
    }
    #signIn{
        order: 2;
    } 
    h1{
        font-size:x-large;
    }
    #titre{
        margin:0 1em 0 1em;
    }
    
    #searchBar{
        height:3em;
        justify-content: center;
    }
    input{
        width: 65%;
    }
    #search .searchIcon{
        padding: 0 1em 0 1em;
    }
    #searchSubmit{
        display: none;
    }
    #loupe{
        display: block;
        border:0px;
        padding: 0 1.3em 0 1.3em ;
        color: white;
        background-color: #0065FC;
        border-radius: 1em 1em 1em 1em;
    }
    #filtersTitle{
        padding-left:1em ;
    }
    .filter{
        height: 3em;
        margin-left: 0em;
        margin-right: 1em;
        margin-bottom: 0.5em;
        padding-right: 1em;
    }
    .filterIcon{
        margin-right: 1em;
        width: 3em;
        height: 3em;
    }
    #result{
        align-items: center;
        margin-left: 1em;
        margin-right: 1em;
    }
    #result .resultIcon{
        margin-right: 0.5em;
        transform: scale(0.8);
        padding: 0em 1em 0em 1em;
        height: 2.5em;
    }
    #populaires{
        margin-top: 0em;
        padding:0 0.5em 0 0.5em;
        border-radius: 1em;
    }
    .populaireImg{
        height: 8em;
        min-width: 8em;
        width: 6em;
    }
    .infoPopulaire{
        font-size: small;
    }
    #classiques{
        background-color: white;
        padding-left: 0;
    }
    #tableauClassiques{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .hebergementClassique{
        margin-right: 0.5em;
        margin-left: 0.5em;
        box-shadow:0 0 20px #0000002e;
    }
    #titreActivites{
        margin-left:1em;
    }
    #tableauActivites{
        padding-right: 0;
    }
    .columnActivite{
        flex-flow: column;
    }
    .activite{
        margin: 0 0.5em 2em 0.5em;
    }
    .activiteImg{
        width:100%;
        height: 10em;
    }
    .grandeActivite{
        width: 100%; 
    }
    .petiteActivite{
        width: 100%;
    }
    .petiteActivite1{
        margin-right: 0;
    }
    .petiteActivite2{
        margin-left: 0;
    }
    footer{
        flex-flow: column;
    }
    .footerColumn{
        padding-left: 2em;
        width: 100%;
        text-align: left;
        box-sizing:border-box;
    }
}