body{
    background-color:white;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
}
header{
    display:flex;
    justify-content: space-between;
    padding: 0 2em 0 2em;
}
#logo{
    
    margin-top: 1em;
}
#nav{
    padding: 2em 0 2em 0;
    display: flex;
    justify-content:flex-start;
}
.navLink{
    padding: 2em 2em 2em 2em ;
    color:black;
    text-decoration: none;
    text-align: center;
}
.navLink:hover{
    color:#0065FC;
    border-top:3px solid #0065FC; 
}
.navLink[data-active=true]{
    color:#0065FC;
    border-top:3px solid #0065FC; 
}
#signIn{
    font-weight: bold;
    margin:2em 3em 2em 0rem ;
    color: #0065FC;
}
main{
    padding:0em 2em 2em 2em;
}
h1{
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}
#subTitle{
    margin-top: 0em;
}
#searchBar{
    margin: 2em 0 2em 0;
    display: flex;
    height: 3.5em;
}
#searchBar .searchIcon{
    display: flex;
    align-items:center ;
    border-radius: 1em 0 0 1em;
    background-color: #F2F2F2;
    padding:0em 1.5em 0em 1.5em;
}
input{
    border:0px;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 15px;
}
input:focus{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 15px;
}
#searchSubmit{
    border:0px;
    background-color:#0065FC ;
    color:white;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: large;
    padding:0 1em 0 1em;
    border-radius: 0 1em 1em 0;
    
}
#searchSubmit:hover{
    cursor: pointer;
}
#filters{
    display:flex;
    justify-content:left;
    align-items: center;
}
#filtersTitle{
    margin-right: 2em;
}
.filter{
    margin-right: 3.5em;
    padding-right: 2em;
    display: flex;
    border: 3px solid #f2f2f2 ;
    border-radius: 2em;
    transition: 0.4s ease;
    cursor: pointer;
    text-align: center;
}
.filter:hover{
    transform: scale(1.15);
    
}
.filterIcon{
    margin-top: 0px;
    text-align: center;
    width: 3.5em;
    height: 3.5em;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    /* padding: 0em 1em 0em 1em; */
    border-radius: 2em;
    margin-right: 1.5em;
    justify-content: center;
}
.filterText{
    font-weight: bold;
}
#result{
    display: flex;
    margin-top: 0.5em;
}
#result .resultIcon{
    display: flex;
    color:#0065FC;
    padding:0em 1.2em 0em 1.2em;
    align-items: center;
    border-radius: 3em;
    border: 3px solid #f2f2f2 ;
    margin-right: 1.5em;
}
#hebergements{
    display: flex;
    justify-content: space-between;
}
#classiques{
    background-color: #f2f2f2;
    margin-top: 2em;
    border-radius: 2em;
    margin-right: 2em;
    padding: 0 1em 0 2em;
}
#articlesClassiques{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
}
.hebergementClassique{
    background-color: white;
    border-radius: 2em;
    margin:0 2em 2em 0;
    width: 18em;
    padding: 0.5em 0.5em 0 0.5em;
    transition: 0.4s ease;
}
.hebergementClassique:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.classiqueImg{
    height: 9em; 
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit:cover;
    border-radius: 1.5em 1.5em 0 0;
}
.infoHebergementClassique{
    margin:0 0 1em 0.5em;
}
#populaires{
    background-color: #f2f2f2;
    margin-top: 2em;
    border-radius: 2em;
    padding: 0 2em 0 2em;
    /* width: 30em; */
}
#titrePopulaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
     ;
}
#articlesPopulaires{
    width:100%;
    display:flex;
    justify-content: space-around; 
    flex-flow: column;
    max-height: max-content;
}
.hebergementPopulaire{
    display: flex;
    height: 10em;
    background-color: white;
    border-radius: 2em;
    margin:0 0em 2em 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    transition: 0.4s ease;
}
.hebergementPopulaire:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.populaireImg{
    min-width: 10em;
    height:10em;
    width:10em;
    max-height: 100%;
    max-width: 100%;
    object-fit:cover;
    border-radius: 1.5em 0em 0 1.5em;
}
.separateur{
    /* height: 33%; */
}
#afficherPlus{
    font-family: 'Raleway';
    font-weight: bold;
    margin-bottom: 1.5em;
}
.etoile{
    color:#0065FC 
}
.etoile[data-active=false]{
    color: #f2f2f2;
}
#activites{
    margin-top: 2em;
}
#grilleActivites{
    display: grid;
    align-items: center;
    grid-template-columns:repeat(4, 1fr);
    /* grid-template-rows:15em 2em 2em 2em 15em; */
}
.activite{
    margin: 1em 2em 1em 0;
    /* max-width: 1fr; */
    max-height: 100%;
    object-fit: cover;
    /* border-radius: 2em; */
    /* box-shadow:0 0 15px #ffff ; */
    overflow: hidden;
}
.activiteImg{
    overflow: hidden;
    /* width: 100%; */
    /* max-height: 100%; */
    /* max-width: 100%; */
    object-fit:scale-down;
    border-radius: 1.5em 1.5em 0 0;
}
.activite1{
    height: 30em;
    grid-row: 1/6;
    grid-column: 1/2;
}
.activite2{
    grid-row: 1/4;
    grid-column: 2/3;
}
.activite3{
    grid-row: 5/6;
    grid-column: 2/3;
}
.activite4{
    grid-row: 1/6;
    grid-column: 3/4;
}
.activite5{
    grid-row: 1/2;
    grid-column: 4/5;
}
.activite6{
    grid-row: 3/6;
    grid-column: 4/5;
}
footer{
    color: black;
    background-color: #f2f2f2;
    margin-top: 4em ;
    padding:0 20em 4em 0em;
    display: flex;
    justify-content: space-around;

}
.footerColumn{
    display: flex;
    flex-flow: column;
    justify-content:space-between;
}
a{
    color: #525252;
}
a:hover{
    text-decoration: underline;
}
h4{
    margin-bottom: 1em;
}
@media screen and (max-width: 1280px)
{
    main{
        padding: 0 2em 0 2em;
    }
    #filters{
        flex-wrap: wrap;
    }
    #hebergements{
        flex-direction: column-reverse;
    }
    #populaires{
        max-width: 100%;
        /* width:100%; */
        /* margin-right: 40em; */
    }
    #articlesPopulaires{
        flex-direction: row;
    }
    #classiques{
        max-width: 100%;
        width:100%;
        margin-right: 2em;
    }
}